<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GroupMatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5A308CFF1AC9BD6A00885AF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A308D101AC9C0E100885AF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A589DE21AC8503300ABB712</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A589E2A1AC87F9C00ABB712</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A589E3B1AC8814600ABB712</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C04365581A626BA0000E0F15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C043656D1A626BA1000E0F15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
